body {
    overflow: hidden;
    width : 100%;
}

#wrap-body {
    width: 100%;
    height: 100vh;
    position: absolute;
    margin: 0;
    z-index: -10000000;
    transition: all 3s;
}

.background-night {
    background: #9dabbd;
    transition: all 3s;
}

.background-sun {
    background: #8ab6f3 ;
    transition: all 3s;
}

header {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    width: 150px;
    height: 150px;
    z-index: 100000000;
}

.moon {
    background-image: url('../medias/moon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    transition: all 3s;
    cursor: pointer;
}

.sun {
    background-image: url('../medias/sun.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 150px;
    transition: all 3s;
    cursor: pointer;
}

.cloud1{ 
    position : absolute;
    background-image: url('../medias/cloud.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height : 150px;
    transition: all 5s;
    animation: cloud 60s linear;
    -webkit-animation: cloud 60s linear;
    top : 50px;
    left : -10%;
}

.cloud2{ 
    position : absolute;
    background-image: url('../medias/cloud-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    height : 150px;
    transition: all 5s;
    animation: cloud2 150s linear;
    -webkit-animation: cloud2 150s linear;
    top : 600px;
    right : -10%;
}

@keyframes cloud {
    0% {
        left : -10%;
    }
   
    100% {
        left : 150%;
    }
}

@keyframes cloud2 {
    0% {
        right : -10%;
    }
   
    100% {
        right : 150%;
    }
}

/* @-webkit-keyframes cloud {
    0% {
        fill-opacity: 0;
    }

    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
} */

.background-bottom {
    background-image: url('../medias/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.logo {
    max-width: 350px;
    height: auto;
    padding: 30px 30px;
}

.logo img {
    width: 100%;
}

.wrap-text {
    z-index: 1000;
}

.text-1,
.text-2 {
    text-align: center;
    z-index: 1000;
}

.text-1 path {
    stroke-dasharray: 320;
    stroke-dashoffset: 250;
    animation: aniwing 5s ease-in forwards;
    -webkit-animation: aniwing 5s ease-in forwards;
}

@keyframes aniwing {
    0% {
        fill-opacity: 0;
    }
    50% {
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    70% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

@-webkit-keyframes aniwing {
    0% {
        fill-opacity: 0;
    }
    50% {
        stroke-dashoffset: 0;
        fill-opacity: 0;
    }
    70% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
    100% {
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
}

.winter-is-coming,
.snow {
    z-index: 100;
    pointer-events: none;
    transition : all 3s;
}

.winter-is-coming {
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.snow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: falling linear infinite;
    animation: falling linear infinite;
    -webkit-transform: translate3D(0, -100%, 0);
    transform: translate3D(0, -100%, 0);
}

.snow--near {
    -webkit-animation-duration: 15s;
    animation-duration: 15s;
}

.snow--near+.snow--alt {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.snow--mid {
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}

.snow--mid+.snow--alt {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

.snow--far {
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
}

.snow--far+.snow--alt {
    -webkit-animation-delay: 30s;
    animation-delay: 30s;
}

@-webkit-keyframes falling {
    0% {
        -webkit-transform: translate3D(-7.5%, -100%, 0);
        transform: translate3D(-7.5%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3D(7.5%, 100%, 0);
        transform: translate3D(7.5%, 100%, 0);
    }
}

@keyframes falling {
    0% {
        -webkit-transform: translate3D(-7.5%, -100%, 0);
        transform: translate3D(-7.5%, -100%, 0);
    }
    100% {
        -webkit-transform: translate3D(7.5%, 100%, 0);
        transform: translate3D(7.5%, 100%, 0);
    }
}


#snowman {
    width: 150px;
    position: absolute;
    bottom: 0px;
    margin: 16px;
  }
  /* @media screen and (min-width: 720px) {
    #snowman {
      bottom: 3em;
      left: 2em;
    }
  }
  @media screen and (min-width: 900px) {
    #snowman {
      bottom: 5em;
      left: 3em;
    }
  }
  @media screen and (min-width: 1100px) {
    #snowman {
      bottom: 8em;
      left: 5em;
    }
  } */
  
  g.background__snowman {
    -webkit-animation: rock 6s ease-in-out 2s infinite;
            animation: rock 6s ease-in-out 2s infinite;
    -webkit-transform-origin: 20% 100%;
            transform-origin: 20% 100%;
  }
  
  @-webkit-keyframes rock {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    80% {
      -webkit-transform: rotate(1deg);
              transform: rotate(1deg);
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes rock {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    60% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    80% {
      -webkit-transform: rotate(1deg);
              transform: rotate(1deg);
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  
  .light{
    animation: lightening 8s infinite;
    -webkit-animation: lightening 8s infinite;
}

@keyframes lightening {
    0% {
        fill : #F6B346;
    }

    100% {
        fill : rgb(22, 22, 22);
    }
}

@-webkit-keyframes lightening {
    0% {
        fill : #F6B346;
    }

    100% {
        fill : rgb(22, 22, 22);
    }

  }

  .red{
    animation: color1 8s infinite;
    -webkit-animation: color1 8s infinite;
  }

  @keyframes color1 {
    0% {
        fill : #C1272D;
    }

    100% {
        fill : #fcee21;
    }

  }

  @-webkit-keyframes color1 {
    0% {
        fill : #C1272D;
    }

    100% {
        fill : #fcee21;
    }

  }

  .house{
      position : absolute;
      bottom : 50px;
      left : 150px;

  }

  .trees{
    position : absolute;
    bottom : 60px;

    right : 150px;
}